{% load wagtailcore_tags wagtailroutablepage_tags blogapp_tags wagtailmd %}

{% block content %}
    <h1>{{ page.title }}</h1>

    {{ page.body|markdown|safe }}

    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

    {% if page.tags.all %}
        <div class="tags">
            <h3>Tags</h3>
            <!-- {% for tag in page.tags.all %}
                <a href="{% routablepageurl blog_page 'post_by_tag' tag.slug %}">{{tag}}</a>
            {% endfor %} -->

            {% tags_list %}
        </div>
    {% endif %}
    {% with categories=page.categories.all %}
        {% if categories %}
            <h3>Categories</h3>
            <!-- <ul>
                {% for category in categories %}
                    <li style="display: inline;">
                        <a href="{% routablepageurl blog_page 'post_by_category' category.slug %}">{{category.name}}</a>
                    </li>
                {% endfor %}
            </ul> -->
            {% categories_list %}
        {% endif %}
    {% endwith %}
    
{% endblock %}